
.accountContainer{
    display: flex;
    height: inherit;
    flex-wrap: nowrap;
}

.navigationBar{
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 15%;
    overflow: hidden;
    background-color: greenyellow;
}

.accountContent{
    flex: 1;
    height: inherit;
    overflow-y:auto;
    overflow-x: hidden;
    background-color: lightskyblue;
}

.headerNavBar{
    display:flex;
    height: 200px;
    background-color: #4287f5;
}

.menuListNavBar{
    flex:1;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: mintcream;
}

.footerNavBar{
    background-color: mediumslateblue;
}

@media only screen and (max-width: 768px) {
    .navigationBar{
        background-color: red;
        width: 23%;
    }
    
    .accountContent {
      background-color: lightblue;
    }

    .headerNavBar{
        background-color: navy;
    }

    .menuListNavBar{
        background-color: olive;
    }

    .footerNavBar{
        background-color: orangered;
    }
}
