.accountContainer{
    display: flex;
    height: inherit;
    flex-wrap: nowrap;
}

.navigationBar{
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 15%;
    overflow-y: hidden;
    background-color: greenyellow;
}

.accountContent{
    flex: 1;
    height: inherit;
    background-color: lightskyblue;
}

.headerNavBar{
    background-color: lightcoral;
}

.menuListNavBar{
    flex:1;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: mintcream;
}

.footerNavBar{
    background-color: mediumslateblue;
}