
.avatar {
    display: flex;
    margin: auto;
    /*they are not responsive, apply responsiveness rules here*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: gainsboro;
  }